.fd-row {
	margin: 20px 0 60px 0;
	border-top: 5px solid $colorLink;
	border-bottom: 5px solid $colorLink;
	padding: 10px 0;
	display: none;
}

.fd-title {
	font-size: 30px;
}

.ft {
	background-color: #F9F9F9;
	padding: 10px 20px 15px 20px;
	margin-top: 20px;
	border: 1px solid #DDD;
}

.ft-title {
	font-size: 26px;
	margin: 0 0 10px;
}
