.fe-list {
	margin-top: 40px;
	margin-bottom: 80px;
}

.fe-row {
	margin-bottom: 40px;
	font-size: 20px;
	letter-spacing: 0.02em;
}

.fe-title {
	text-align: right;
	border-right: 5px solid $colorLink
}

.fe-meta {
	font-size: 14px;
	color: $colorMeta
}

.fe-btn-remove {
	color: $colorMeta
	padding-top: 0;
	padding-right: 0;
}

.fe-btn-remove:active, .fe-btn-remove:focus {
	outline-color: $colorMeta
	color: $colorMeta
}

.fe-btn-remove:hover {
	color: $colorLink
}

.fe-done {
	color: $colorLink
}
