body {
	background-color: #111;
	font-size: 20px;
	margin-top: 30px;
}

a {
	color: #FFF;
}

a:hover {
	color: #FFF;
}

li {
	color: #BBB;
	list-style: none;
	margin: 20px 0;
	line-height: 30px;
}

.fe-meta {
	font-size: 14px;
	color: #666;
}
