@font-face {
  font-family: AileronLight;
  src: url("fonts/Aileron-Light.otf") format("opentype");
}

@font-face {
  font-family: AileronThin;
  src: url("fonts/Aileron-Thin.otf") format("opentype");
}

@font-face {
  font-family: AileronHeavy;
  src: url("fonts/Aileron-Heavy.otf") format("opentype");
}

@font-face {
  font-family: AileronRegular;
  src: url("fonts/Aileron-Regular.otf") format("opentype");
}

body {
	background-color: #FFF;
	font-size: 20px;
	font-family: AileronRegular;
	letter-spacing: 0.02em;
	color: $colorContent
	margin-top: 5px;
}

a {
	color: $colorLink
	font-family: AileronHeavy;
}

a:hover, a:focus, a:active {
	color: $colorLink
	text-decoration: none;
}

.fe-list {
	margin-top: 40px;
	margin-bottom: 80px;
}

.fe-row {
	margin-bottom: 40px;
}

.fe-title {
	text-align: right;
	border-right: 5px solid $colorLink
}

.fe-meta {
	font-size: 14px;
	color: $colorMeta
}

.fe-btn-remove {
	color: $colorMeta
	padding-top: 0;
	padding-right: 0;
}

.fe-btn-remove:active, .fe-btn-remove:focus {
	outline-color: $colorMeta
	color: $colorMeta
}

.fe-btn-remove:hover {
	color: $colorLink
}

.fe-done {
	color: $colorLink
}
