@font-face {
  font-family: AileronLight;
  src: url("fonts/Aileron-Light.otf") format("opentype");
}

@font-face {
  font-family: AileronThin;
  src: url("fonts/Aileron-Thin.otf") format("opentype");
}

@font-face {
  font-family: AileronHeavy;
  src: url("fonts/Aileron-Heavy.otf") format("opentype");
}

@font-face {
  font-family: AileronRegular;
  src: url("fonts/Aileron-Regular.otf") format("opentype");
}

body {
	background-color: #FFF;
	font-family: AileronRegular;
	color: $colorContent
	margin-top: 5px;
}

a {
	color: $colorLink
	font-family: AileronHeavy;
}

a:hover, a:focus, a:active {
	color: $colorLink
	text-decoration: none;
}
