.tm {
	font-size: 12px;
}

.tm-remove-all-btn {
	padding: 0 5px;
	color: $colorLink;
}

.tm-remove-all-btn:hover,
.tm-remove-all-btn:active,
.tm-remove-all-btn:active:focus,
.tm-remove-all-btn:focus {
	color: $colorButtonHover;
  outline-color: #FFF;
}

.tm-unread {
	margin-right: 5px;
}
