<template name="editFeed">
  <div class="ft clearfix">
    {{#if selectedFeed}}
      <h2 class="ft-title">Edit Feed</h2>
      {{#autoForm collection="Feeds" doc=selectedFeed id="edit-feed-form"
          type="update"}}
        <fieldset>
          {{> afQuickField name="name"}}
          {{> afQuickField name="category"}}
          {{> afQuickField name="link"}}
        </fieldset>
        <div class="pull-right">
          <button type="button" class="btn btn-default js-clear-feed">
            Clear
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      {{/autoForm}}
    {{else}}
      <h2 class="ft-title">Add Feed</h2>
      {{#autoForm collection="Feeds" id="add-feed-form" type="insert"}}
        <fieldset>
          {{> afQuickField name="name"}}
          {{> afQuickField name="category"}}
          {{> afQuickField name="link"}}
        </fieldset>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      {{/autoForm}}
    {{/if}}
	</div>
</template>
