<template name="feeds">
  <h2 class="fd-title">Feeds</h2>
  <div class="fd-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Link</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each feeds}}
          {{> feed}}
        {{else}}
          <tr>
            <td colspan="4">
              None.
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
