<template name="layout">
  <div class="container">
    <div class="row tm">
      <div class="col-md-offset-2 col-md-2">
        {{#if currentUser}}
          <span class="tm-unread">{{feedEntryCount}} unread</span> |
          <button type="button"
              class="btn btn-link tm-remove-all-btn js-remove-all">
            <i class="fa fa-check"></i>
          </button>
        {{/if}}
      </div>
      <div class="col-md-8 text-right">
        {{#if currentUser}}
          <a href="#" class="js-edit-feeds"><i class="fa fa-gear"></i></a> |
        {{/if}}
        {{> loginButtons align="right"}}
      </div>
    </div>
    <div class="row fd-row">
      <div class="col-md-8">
        {{> feeds}}
      </div>
      <div class="col-md-4">
        {{> editFeed}}
      </div>
    </div>
    {{> yield}}
  </div>
</template>
